<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
        <link href="https://fonts.googleapis.com/css2?family=Goudy+Bookletter">


    <title>TestProject</title>

</head>



<div class="topnav">
    <a class="card1 card1home" href="/home"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp;Home</a>
    <a class="card1 card1contact" href="/contact">Contact</a>
    <a class="card1 card1books" href="/books">Books</a>
    <a class="card1 card1blogs" href="/blogs">Blogs</a>
    {{#unless isLoggedIn}}
    <form class="pd-4" action=""> <a href="/login">
            <div class="form-group" style="margin-top:9px">
                <label type="submit" class="btn btn-primary">Log In</label>
            </div>
        </a>
    </form>

    {{/unless}}
    {{#if isLoggedIn}}

    <form class="pd-4" method="post" action="/logout">
        <div style="margin-top: 9px" class="form-group">
            <button type="submit" class="btn btn-primary">Log Out</button>
        </div>
    </form>
    {{/if}}
    </div>

<body>

    <div class="background"></div>

    <h1 class="grow"><a href="#home"><img src="/logo1.svg"></a></h1>




    <main>{{{body}}}</main>


    <section class="footer">
        <div class="social">
            <a href="https://www.instagram.com/talal.ghalyoun/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/Talal.ghalyoun/"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/talal-ghalioun-575677145/"><i class="fab fa-linkedin"></i></a>

        </div>
        <ul class="list">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">News</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
        </ul>
        <p class="copyright">Talal Ghalioun @ 2022</p>
    </section>

</body>

</html>