<style>
    .cardabout{
    background-color: #ba4d13;
    color: white;
        }
</style>
<div class="container">
    <div class="box" >
        <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
        <div class="content">
        <h3>Contact</h3>
        <p> 
           Contact us via <phone>0766101216</phone><br> or via E-mail<br> <mail>t.3.g.h@hotmail.com</mail></p>
    </div>
</div>
</div>
