<div class="container" id="conHeight">
    <div class="box">
        <div class="icon"><i class="fa fa-book" aria-hidden="true"></i></div>
        <div class="content1" class="form-group">
            <h3>Add your Blog</h3>

            <p>
            {{#if errors.length}}
            <p>Couldn't create the blog because:</p>
            {{#each errors}}
            <h5 style="color:blanchedalmond"><u>{{this}}</u></h5>
            {{/each}}
            {{/if}}
            <form action="" method="POST">
                <div style="color:aliceblue">
                    Title: <input class="form-control" value="{{title}}" required="" true"" type="text" name="title"
                        id="" minlength="3">
                </div>
                <div style="color:aliceblue">
                    Content: <input class="form-control" value="{{content}}" required="" true"" type="string"
                        name="content" id="" minlength="6">
                </div>
                <input style="margin-top: 13px;" class="btn btn-primary" type="submit" value="Create">
            </form>
            </p>
        </div>
    </div>
</div>