<style>
   .card1home {
      background-color: #ba4d13;
      color: white;
   }
</style>

<div class="container">
   <div class="box">
      <div class="icon"><i class="fa fa-search" aria-hidden="true"></i></div>
      <div class="content">
         <h3>Serach</h3>
         <p> lorem
            trum sed maiores voluptatibus minus dolorem, maxime earum voluptatum aut e
            ligendi dicta! olorem, maxime earum voluptatum aut eligendi</p>
      </div>
   </div>
   <div class="box">
      <div class="icon"><i class="fa fa-comments"></i></div>
      <div class="content">
         <h3>Q/A</h3>
         <p> lorem trum sed maiores voluptatibus minus dolorem, maxime earum voluptatum aut e
            ligendi dicta! olorem, maxime earum voluptatum aut eligendi</p>
      </div>
   </div>
   <div class="box">
      <div class="icon"><i class="fa fa-quote-left fa-3x fa-pull-left" aria-hidden="true"></i>
      </div>
      <div class="content">
         <h3>FeedBack</h3>
         <p> lorem
            trum sed maiores voluptatibus minus dolorem, maxime earum voluptatum aut e
            ligendi dicta! olorem, maxime earum voluptatum aut eligendi</p>
      </div>

   </div>


</div>