<style>
   .card1home {
      background-color: #ba4d13;
      color: white;
   }
   
</style>

<div class="container" style="font-family: Sofia, sans-serif;">
   <div class="box">
      <div class="icon"><i class="fa fa-book" aria-hidden="true"></i></div>
            <a href="/books" style="text-decoration: none;">

      <div class="content1">
         <h3>Books</h3>
         <p>You've come to the right place if you're looking for good books to read!</p>
      </div>
   </div>
   <div class="box">
      <div class="icon"><i class="fa fa-comments"></i></div>
      <a href="/questions" style="text-decoration: none;">
      <div class="content1">
         <h3>FAQs</h3>
         <p>Frequently Asked Questions</p>
      </div> 
      </a>
   </div>
  
   <div class="box">
      <div class="icon"><i class="fa fa-quote-left fa-3x fa-pull-left" aria-hidden="true"></i>
      </div>
      <div class="content1">
         <h3>Blogs</h3>
         <p>You've come to the right place if you're looking for good blogs to read!</p>
      </div>

   </div>


</div>