<h1>movies!</h1>
{{#if movies.length}}
<ul>
    {{#each movies}}
    <li>
        <a href="movies/{{id}}">{{title}} </a>({{grade}}/10) </li>
    {{/each}}
</ul>
{{else}}
    <p>we have nothing to show</p>
{{/if}}
