<div class="container" id="conHeight">
    <div class="box">
        <div class="icon"><i class="fa fa-book" aria-hidden="true"></i></div>
        <div class="content1 form-group">
            <h3>Update Blog</h3>

            <form method="POST">
                <p>
                    {{#if errors.length}}
                <p>Couldn't update the blog because:</p>
                {{#each errors}}
                <h5 style="color:blanchedalmond"><u>{{this}}</u></h5>
                {{/each}}
                </ul>
                {{/if}}
                <div style="color:aliceblue">
                    Title: <input class="form-control" type="text" name="title" value="{{blog.title}}" minlength="3">
                </div>
                <div style="color:aliceblue">
                    Content: <input class="form-control" type="string" name="content" value="{{blog.content }}"
                         minlength="10">
                </div>
                <input class="btn btn-primary" style="margin-top: 13px;" type="submit" value="update">

                </p>
        </div>
    </div>
</div>

</form>